@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    --base-font-size: 8px;
    --var-color-base: black;
    
}

/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
/* GENERAL */
main {
    margin-top: 9rem;
}
/* NAVIGATOR */

.nav-bar-top {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 110px;
}

.nav-bar-top ul {
    display: flex;
    list-style: none;
}

.nav-bar-top ul li a {
    text-decoration: none;
    color: var(--var-color-base);
    font-weight: 300;
    font-size: 1.3rem;
}

.nav-bar-top ul li>* {
    margin: 0 1rem;
}

.nav-bar-top ul:nth-child(1) li img {
    width: 6rem;
}

.banner-header {
    background-image: url('../img/banner-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    z-index: -100;
}

.banner-header div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(59, 59, 59);
}

.barre {
    width: 85%;
    background-color: var(--var-color-base);
    height: 1px;
    position: absolute;
}

.right-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right-link ul:nth-last-child(1) {
    margin-right: 10%;
}

/* Presentation */
#baniere{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/falegname-zanchi-pomezia-005.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    margin-top: -5%;
}

.titre{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 300px;
height: 300px;
background-color: rgba(222, 184, 135, 0.719);
font-family: 'Noto Sans JP', sans-serif;
font-weight: bold;
font-size: 40px;
padding: 0 10px;
border-radius: 100%;
border: 2px solid white;
margin: auto;
color: white;

}

.soustitre{

display: flex;
flex-direction: column;
justify-content: center;
background-color: rgba(222, 184, 135, 0.719);
width: 40%;
height: 25%;
font-family: 'Noto Sans JP', sans-serif;
font-size: 18px;
font-weight: bold;
text-align: center;
margin: auto;
padding: 0 20px;
border-radius: 20px;
color: white;
border: 2px solid white;
margin-top: -2%;

}

#block{

display: flex;
flex-direction: column;
justify-content: center;
background-color: black;
width: 100%;
height: 50%;

}

.titre1{

display: flex;
flex-direction: column;
justify-content: center;
background-color: burlywood;
width: 100%;
height: 15%;
margin-top: -7%;
font-size: 30px;
text-align: center;
font-family: 'Noto Sans JP', sans-serif;
color: white;

}

.photo{

display: flex;
flex-direction: column;
justify-content: left;
width: 40%;
height: 70%;
margin-top: 2%;
margin-left: 3%;
border: 3px solid white;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

.photo:hover{
-webkit-transform: scale(1.3);
transform: scale(1.1);
}

.texte{

display: flex;
flex-direction: column;
justify-content: center;
background-color: burlywood;
color: white;
width: 40%;
margin-left: 53%;
margin-top: -20%;
padding: 15px 15px 15px 15px;
border-radius: 20px;
font-family: 'Noto Sans JP', sans-serif;
text-align: justify;


}



/*SM BREAKPOINT*/

@media screen and (max-width:749px) {
    html {
        font-size: calc(var(--base-font-size)*1.3);
    }
}

/*MD BREAKPOINT*/

@media screen and (min-width:750px) and (max-width:1280px) {
    html {
        font-size: calc(var(--base-font-size)*1.5);
    }
}

/*LG BREAKPOINT*/

@media screen and (min-width:1280px) {
    html {
        font-size: calc(var(--base-font-size)*2);
    }
}
